body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background: #fff6cb;
}
.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #BDB76B;
    text-align: center;
    border-radius: 25px;
}
.box input[type = "text"], .box input[type = password]{
    font-family: sans-serif;
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #B8860B;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus, .box input[type = password]:focus{
width:  280px;
border-color: #000000;
}
.box input[type = "submit"]{

    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #B8860B;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}
.box input[type = "submit"]:hover{
    background:#B8860B;
}
.box h1 {
    font-size: 25px;
    color: #fff6cb;
    font-family: inherit;
    font-style: normal;

}




